package ${rdPackageName}.mapper.merge;

import com.yunque.common.datasource.annotation.${sourceMode};
import com.yunque.common.web.entity.mapper.BasicMapper;
import ${rdPackageName}.domain.merge .${ClassName};

/**
 * ${moduleFunctionName} 数据层
 *
 * @author ${author}
 */
@${sourceMode}
public interface ${ClassName}Mapper extends BasicMapper<${ClassName}> {
}